<div class="row">
  <div class="col-md-6">
    <h3>Friday, December 3, 2021</h3>
    <table class="table table-striped">
      <tr> <td>Before</td> <td><a href="{{ site.pre_survey }}{{ site.github.project_title }}" target="_blank" rel="noopener noreferrer">Pre-workshop survey</a> </td> </tr>
      <tr> <td>09:00 am - 12:00 pm</td>  <td>Intro to R and RStudio, dataframes, and subsets</td> </tr>
      <tr> <td>12:00 noon - 1:00 pm</td>  <td>Lunch break</td> </tr>
      <tr> <td>1:00 pm - 3:45 pm</td>  <td>Conditions, graphics, functions</td> </tr>
      <tr> <td>3:45 pm</td>  <td>Wrap-up</td> </tr>
      <tr> <td>4:00 pm</td>  <td><a href="{{ site.post_survey }}{{ site.github.project_title }}" target="_blank" rel="noopener noreferrer">Post-workshop Survey</a></td> </tr>
    </table>
  </div>
</div>
